[submodule "Industrial-Relay-Control"]
	path = Industrial_Relay_Control
	url = https://github.com/teknix/Industrial_Relay_Control.git
[submodule "Industrial_Relay_Control"]
	path = Industrial_Relay_Control
	url = https://github.com/teknix/Industrial_Relay_Control.git
